*{
    font-family: 'ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(236, 236, 236);
}

#header{
    background-color: orange;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

#title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 20px;
}

#subtitle{
    text-align: center;
    font-size: 23px;
    padding-bottom: 20px;
}

#container{
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 35px;
    padding-bottom: 20px;
    gap: 40px;
}

#container div img{
    border-radius: 10px;
    width: 600px;
}

#container div h2{
    font-size: 45px;
    margin-bottom: 25px;
}

#container div p{
    font-size: 21px;
}

#p1 {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 25px;
    padding-top: 10px;
    font-size: 21px;
}

#p2 {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 21px;
}

#resep{
    padding-left: 60px;
    padding-right: 60px;
}
#resep h2{
    padding-bottom: 25px;
    padding-top: 20px;
    font-size: 34px;
}

#resep p{
    font-size: 21px;
    padding-bottom: 25px;
}

#resep ol{
    padding-left: 20px;
}

#resep ol li{
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 21px;
}

#con2{
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    padding-bottom: 150px;
}

#bahan{
    width: 580px;
}

#bahan h2{
    font-size: 38px;
    padding-bottom: 25px;
    padding-top: 20px;
}

#cara{
    padding-left: 36px;
}

#cara h2{
    font-size: 38px;
    padding-bottom: 25px;
    padding-top: 20px;
}

#cara ol li::marker{
    color: #ff4800;
    font-weight: bolder;
    font-size: 33px;
}

#cara ol{
    padding-left: 35px;
}

#cara li{
    font-size: 23px;
    margin-bottom: 50px;
    padding-left: 8px;
}

.custom-list {
    list-style: none; 
    padding-left: 0;
    font-size: 18px;
}

.custom-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.highlight {
    color: #ff4800;
    font-weight: bold;
    font-size: 22px;
    min-width: 40px;
    text-align: right;
}

.green-text {
    color: green;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.bold{
    font-weight: bold;
}